.experiencesFrame {
    background-color: #E5E9EC;
    height: auto;
    width: 100vw;
}

.xpHeaderFrame {
    /* background-color: burlywood; */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lowerFrame {
    /* background-color: aquamarine; */
    height: 0%;
    padding-top: 80px;
    padding-bottom: 80px;;
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: relative; */
}